<section id="projects" class="projects">
    <div class="container" data-aos="fade-up">
        <p>It takes great pains to benefit. His needs result from something that actually drives him away. Let them be what they want. Anyone whom anyone desires. And no one who hinders receives the others. Because he should flee in this office of convenience, which is here</p>
        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box iconbox-orange ">
                    <picture> 
                        <img src="https://i.ibb.co/f8d8b5m/pexels-tirachard-kumtanom-112571-733856.jpg" class="img-fluid" alt="Cinque Terre" width="1100" height="500">
                    </picture>
                  <h4><a href="">Personal Portfolio Website</a></h4>
                  <p>A website to showcase your skills, projects, and resume.</p>
                  <p>Include sections for your bio, skills, projects, and contact information & google map embedded.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box iconbox-orange ">
                    <picture> 
                        <img src="https://i.ibb.co/fvrbdJD/pexels-pixabay-209831.jpg" class="img-fluid" alt="Cinque Terre" width="1100" height="500">
                    </picture>
                  <h4><a href="">Weather App</a></h4>
                  <p>Integrate with a weather API to fetch and display current weather conditions based on user input (city or zip code).</p>
                  <p>Include features like temperature, humidity, and a 5-day forecast.</p>
                </div>
            </div>
        </div>
    </div>
</section>